.QuoteBlock {
  background-color: #f7f7f7;
  border: 2px solid #eee;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  column-gap: 30px;
}

.QuoteBox {
  flex-grow: 1;
}

.QuoteText {
  font-size: 24px;
  font-style: italic;
  color: #777;
  margin: 0;
  font-family: 'Times New Roman', serif;
  overflow-wrap: break-word;
}

.QuoteAuthor {
  font-size: 32px;
  font-style: italic;
  color: #333;
  font-family: 'Times New Roman', serif;
  text-align: right;
  margin: 16px 0 0;
}

.QuoteInteraction {
  max-width: 9%;
  min-width: 9%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.QuoteBtn {
  height: 32px;
  width: 32px;
  font-size: 24px;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 50%;
  line-height: 32px;
  color: #fff;
  cursor: pointer;
}

.QuoteBtn_edit {
  background-color: dimgrey;
}

.QuoteBtn_remove {
  background-color: firebrick;
}