.AddQuote {
  width: 60%;
}

.AddQuoteTitle {
  font-size: 18px;
}

.FormRow label {
  display: block;
  margin-bottom: 5px;
}

.FormRow select,
.FormRow input,
.FormRow textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.FormRow select,
.FormRow input {
  height: 36px;
  margin-bottom: 15px;
}

.FormRow select {
  width: 70%;
  padding-right: 5px;
  padding-left: 5px;
}

.FormRow input,
.FormRow textarea {
  width: 100%;
  padding: 5px 7px;
}

.FormRow textarea {
  height: 150px;
}

.SaveQuoteButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: steelblue;
  border-radius: 4px;
  color: #eee;
  text-transform: uppercase;
}

.SaveQuoteButton:disabled {
  opacity: 70%;
}