.MainBox {
  display: flex;
}

.CategoriesBlock {
  min-width: 20%;
  max-width: 20%;
}

.QuotesBlock {
  max-width: 80%;
  flex-grow: 1;
}

.CatMenuItem {
  display: block;
  font-weight: bold;
  text-decoration: none;
  color: #555;
  padding: 3px;
  margin-bottom: 10px;
}