.MainNavBlock {
  background-color: #eee;
  margin-bottom: 30px;
}

.MainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  text-decoration: none;
  color: #333;
}

.NavMenuItem {
  padding: 3px 10px;
  border-left: 2px solid #777;
  color: #333333;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.NavMenuItem:first-child {
  border-left: none;
}

.active {
  color: steelblue;
}